/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */

@import '../../.config/waybar/wallust/colors-waybar.css';

@define-color noti-border-color @color2;
@define-color noti-bg rgba(0, 0, 0, 0.8);
@define-color noti-bg-alt #111111;
@define-color noti-bg-hover @color2;
@define-color text-color @color7;
@define-color text-color-alt @color2;
@define-color text-color-disabled rgba(150, 150, 150, 0.8);

* {
    font-family: "JetBrains Mono Nerd Font";
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @theme_base_color;
    border-radius: 12px;
    border: @color15;
}

.notification-row {
    outline: none;
    margin-right: -3px;
    margin-top: 3px;
}

.notification {
	border-radius: 12px;
	border: @color15;
	margin: 0px;
}

.notification-content{
	color: @color3;
    background: @theme_base_color;
    padding: 9px 12px 9px 12px;
    border-radius: 12px;
    border: 2.5px solid @color15;
    margin: 0px;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    border: @color15;
}

.close-button {
    background: #f7768e;
    color: @noti-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #f7768e;
    transition: all .15s ease-in-out;
    border: none
}


.notification-action {
    border: 2px solid @noti-border-color;
    border-top: none;
    border-radius: 12px;
}


.notification-default-action:hover,
.notification-action:hover {
    color: @color3;
    background: @color1
}

.notification-default-action {
    border-radius: 12px;
    margin: 5px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.notification-action:first-child {
    border-bottom-left-radius: 12px;
    background: #1b1b2b
}

.notification-action:last-child {
    border-bottom-right-radius: 12px;
    background: #1b1b2b
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @noti-bg;
    color: @color3;
    caret-color: @color3;
    border: 1px solid @noti-border-color;
    border-radius: 12px
}

.inline-reply-button {
	font-size: 0.5rem;
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 12px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @noti-bg-hover
}

.body-image {
    margin-top: 6px;
    color: @color3;
    border-radius: 12px;
}

.summary {
    font-size: 1.5rem;
    font-weight: bold;
    background: transparent;
    color: @color3;
    text-shadow: none
}

.time {
    font-size: 1.1rem;
    font-weight: bold;
    background: transparent;
    color: @color3;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 1.1rem;
    font-weight: bold;
    background: transparent;
    color: @color3;
    text-shadow: none
}

.control-center {
    background: @theme_base_color;
    border: 2.5px solid @color15;
	color: @color3;
    border-radius: 18px;
    margin-right: 8px;
    margin-top: 4px;
    padding-bottom: 15px;
}

.control-center-list {
    background: @theme_base_color;
}

.control-center-list-placeholder {
    opacity: 0.9
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1)
}

.widget-title {
    color: @noti-border-color;
    background: @theme_base_color;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1.4rem;
    border-radius: 10px;
}

.widget-title>button {
    font-size: 1.3rem;
    color: @color3;
    border-radius: 10px;
	background: @theme_base_color;
	border: 2px solid #ffffff;
}

.widget-title>button:hover {
    background: @color15;
    color: @noti-border-color;
}

.widget-dnd {
    background: @theme_base_color;
    padding: 8px 6px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.4rem;
    color: @color7;
}

.widget-dnd>switch {
    border-radius: 10px;
     border: 0px solid #ffffff; 
    background: #ffffff;
}

.widget-dnd>switch:checked {
    background: @color2;
    border: 0px solid #f7768e;
}

.widget-dnd>switch slider {
    background: @color4;
    border-radius: 10px
}

.widget-dnd>switch:checked slider {
    background: @color4;
    border-radius: 10px
}

.widget-label {
    margin: 5px;
}

.widget-label>label {
    font-size: 1.1rem;
    color: @color3;
}

.widget-mpris {
    color: @color2;
    background: @theme_base_color;
    padding-top: 12px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin: 5px;
}

.widget-mpris > box > button {
    border-radius: 10px;
    background: @theme_base_color;
}

.widget-mpris-player {
    padding: 3px 6px;
    margin: 10px;
    background: @theme_base_color;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px;
}

.widget-mpris-subtitle {
    font-size: 1.2rem
}

.widget-buttons-grid {
    font-size: 2.3rem;
    color: @color9;
    padding: 2px;
    margin: 0px;
    border-radius: 10px;
    background: @theme_base_color;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 1px;
    background: @theme_base_color;
    border-radius: 15px;
    color: @color10;
    border: 2px solid @color15;
    padding: 5px 20px 5px 20px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @color15;
    color: @color4;
/*        font-size: 2.6rem;
        transition: all 0.5s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
        padding: 0px 20px 0px 20px;
        margin: 1px  */
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: @theme_base_color;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin: 5px 12px 10px 12px;
    border-radius: 10px;
    font-size: 2.1rem;
    font-weight: bold;
    color: @color15;
    border: solid 2px @color15;
}

.widget-volume>box>button {
    background: @theme_base_color;
    border: none
}

.per-app-volume {
    background-color: @noti-bg;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px;
	color: @text-color
}

.widget-backlight {
background: @theme_base_color;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin: 5px 12px 10px 12px;
    border-radius: 10px;
    font-size: 2.1rem;
    font-weight: bold;
    color: @color15;
    border: solid 2px @color15;
}

.low {
  background: @color3;
  padding: 0px;
  border-radius: 10px;
}

.normal {
  background: @color3;
  padding: 0px;
  border-radius: 10px;
}

.critical {
  background: red;
  padding: 0px;
  border-radius: 10px;
}
